<a href="https://colab.research.google.com/github/a33211/Data-science-homeworks/blob/main/Homework_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**напишіть функцію гіпотези лінійної регресії у векторному вигляді;**

h(X) = X * β

де:

h(X) - прогнозоване значенння цільової змінної,
X - вектор ознак (n_features,),
β - вектор коефіцієнтів (n_features,).
В даній формулі h(X) є передбачене значення цільової змінної на базі вектора ознак X, а також вектора коефіцієнтів β.

Модель лінійної регресії прагне знайти оптимальне значення β, які мінімізують суму квадратів різниці між прогнозованими значеннями h(X) та реальними значеннями y. 
Іншими словамии, модель прагне знайти такі значення β,які якнайкраще відповідають даним.
Таким чином, функція гіпотези лінійної регресії у векторному вигляді - простий лінійний зв'язок між X та передбаченими значеннями цільової змінної.

створіть функцію для обчислення функції втрат у векторному вигляді;

In [1]:
import numpy as np

def compute_loss(y_true, y_pred):
    # Розрахунок різниці між передбачени та реальним значеннями
    residuals = y_pred - y_true

    # Возведення у квадрат
    squared_residuals = np.square(residuals)

    # Розрахунок MSE
    mse = np.mean(squared_residuals)

    return mse

Функція MSE має обернену залежність з даними моделі - тобто чим менше її значення - тим краще відповідність моделі даним

реалізуйте один крок градієнтного спуску;

In [ ]:
def gradient_descent_step(X, y, params, learning_rate):
    # Вирахування передбачених значень цільової змінної
    y_pred = np.dot(X, params)

    # Вирахування різниці між передбаченим значенням та реальним
    residuals = y_pred - y

    # Врахування градієнту loss function
    gradient = np.dot(X.T, residuals) / len(y)

    # Оновлення параметрів моделі в протилежному градієнту напрямку 
    updated_params = params - learning_rate * gradient

    return updated_params

знайдіть найкращі параметри 
w
  для датасету прогнозуючу ціну на будинок залежно від площі, кількості ванних кімнат та кількості спалень;

In [7]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/GOIT_DS_Course_data/Housing.csv')
#df.head(5)
df.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [12]:
df_features = df.iloc[:,1:4]
df_features

     area  bedrooms  bathrooms
0    7420         4          2
1    8960         4          4
2    9960         3          2
3    7500         4          2
4    7420         4          1
..    ...       ...        ...
540  3000         2          1
541  2400         3          1
542  3620         2          1
543  2910         3          1
544  3850         3          1

[545 rows x 3 columns]

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error

X = df_features
y = df.iloc[:,:1]
regressor = LinearRegression()
regressor.fit(X, y)
y_pred = regressor.predict(X)
mse = mean_squared_error(y, y_pred)
print("Mean Squared Error (MSE):", mse)

print("Коефіцієнти моделі:", regressor.coef_)
print("Зміщення моделі(shift) (intercept):", regressor.intercept_)

Mean Squared Error (MSE): 1791170049977.3193
Коефіцієнти моделі: [[3.78762754e+02 4.06820034e+05 1.38604950e+06]]
Зміщення моделі(shift) (intercept): [-173171.60763264]

знайдіть ці ж параметри за допомогою аналітичного рішення

In [18]:
import numpy as np

# Добавление столбца из единиц к матрице признаков для учета свободного члена
X_with_intercept = np.c_[np.ones((X.shape[0], 1)), X]

# Вычисление параметров модели линейной регрессии аналитически
params = np.linalg.inv(X_with_intercept.T.dot(X_with_intercept)).dot(X_with_intercept.T).dot(y)

# Вывод параметров модели
print("Параметры модели:", params)

Параметры модели: [[-1.73171608e+05]
 [ 3.78762754e+02]
 [ 4.06820034e+05]
 [ 1.38604950e+06]]

порівняйте отримані результати.

**Отримані результати тотожні**