<a href="https://colab.research.google.com/github/a33211/Data-science-homeworks/blob/main/Hw2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
# from unicodedata import normalize

# **Необхідно виконати:**

- Вивести перші рядки таблиці за допомогою методу head
- Визначте кількість рядків та стовпців у датафреймі (атрибут shape)
- Замініть у таблиці значення "—" на значення NaN
- Визначте типи всіх стовпців за допомогою dataframe.dtypes
- Замініть типи нечислових колонок на числові. Підказка - це колонки, де знаходився символ "—"
- Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)
- Видаліть з таблиці дані по всій країні, останній рядок таблиці
- Замініть відсутні дані в стовпцях середніми значеннями цих стовпців (метод fillna)
- Отримайте список регіонів, де рівень народжуваності у 2019 році був вищим за середній по Україні
- У якому регіоні була найвища народжуваність у 2014 році?
- Побудуйте стовпчикову діаграму народжуваності по регіонах у 2019 році

In [4]:
init = pd.read_html("https://uk.wikipedia.org/wiki/%D0%9D%D0%B0%D1%81%D0%B5%D0%BB%D0%B5%D0%BD%D0%BD%D1%8F_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B8#%D0%9D%D0%B0%D1%80%D0%BE%D0%B4%D0%B6%D1%83%D0%B2%D0%B0%D0%BD%D1%96%D1%81%D1%82%D1%8C", match = "Коефіцієнт народжуваності в регіонах України")
init_pd = init[0]
print('Type of init\n', type(init))
print('Type of init_pd\n', type(init_pd))

Type of init
 <class 'list'>
Type of init_pd
 <class 'pandas.core.frame.DataFrame'>

In [5]:
# Вивести перші рядки таблиці за допомогою методу head
init_pd.head(3)

      Регіон   1950   1960   1970  1990  2000  2012 2014 2019
0       Крим  230.0  206.0  160.0   130    73   126    —    —
1  Вінницька  224.0  192.0  142.0   124    84   112  109   76
2  Волинська  247.0  250.0  179.0   153   112   148  141  101

In [6]:
# Визначте кількість рядків та стовпців у датафреймі (атрибут shape)
init_pd.shape

(28, 9)

In [8]:
# Замініть у таблиці значення "—" на значення NaN
pd_replaced = init_pd.replace("—","NaN")
pd_replaced

               Регіон   1950   1960   1970  1990  2000  2012 2014 2019
0                Крим  230.0  206.0  160.0   130    73   126  NaN  NaN
1           Вінницька  224.0  192.0  142.0   124    84   112  109   76
2           Волинська  247.0  250.0  179.0   153   112   148  141  101
3    Дніпропетровська  204.0  204.0  151.0   123    71   112  111   71
4            Донецька  271.0  214.0  140.0   109    61    98   82  NaN
5         Житомирська  261.0  223.0  159.0   129    89   122  120   79
6        Закарпатська  314.0  273.0  207.0   168   115   151  146  104
7          Запорізька  219.0  197.0  150.0   124    71   106  106   68
8   Івано-Франківська  243.0  248.0  182.0   155   103   124  122   88
9            Київська  204.0  189.0  156.0   123    73   122  121   80
10     Кіровоградська  216.0  171.0  145.0   126    79   110  108   68
11          Луганська  262.0  235.0  144.0   116    62    96   51  NaN
12          Львівська  234.0  240.0  171.0   140    91   119  119   87
13       Миколаївська  211.0  194.0  155.0   137    80   115  112   71
14            Одеська  241.0  192.0  148.0   126    80   127  123   88
15         Полтавська  186.0  163.0  131.0   118    70    99  100   65
16         Рівненська  269.0  267.0  193.0   158   118   159  148  107
17            Сумська  216.0  184.0  132.0   115    70    97   92   60
18      Тернопільська  213.0  216.0  157.0   142    92   113  109   76
19         Харківська  197.0  173.0  140.0   114    68    99  101   68
20         Херсонська  208.0  214.0  166.0   143    85   117  115   81
21        Хмельницька  234.0  198.0  148.0   129    85   113  112   79
22          Черкаська  205.0  179.0  144.0   123    75   100   98   64
23        Чернівецька  247.0  218.0  170.0   148   101   128  129   92
24       Чернігівська  220.0  183.0  127.0   108    69    94   90   61
25               Київ    NaN  174.0  159.0   120    73   120  121  110
26        Севастополь    NaN    NaN    NaN   125    70   120  NaN  NaN
27            Україна  228.0  205.0  152.0   126    78   114  111   81

In [9]:
# Визначте типи всіх стовпців за допомогою dataframe.dtypes
pd_replaced.dtypes

Регіон     object
1950      float64
1960      float64
1970      float64
1990        int64
2000        int64
2012        int64
2014       object
2019       object
dtype: object

In [12]:
#Замініть типи нечислових колонок на числові. Підказка - це колонки, де знаходився символ "—"
test = pd_replaced.iloc[:,1:]
test1 = pd_replaced.loc[~test.isna()]
test1 = test1.astype('int')
test.dtypes

ValueError: ignored

In [ ]:
#Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)

In [24]:
#Видаліть з таблиці дані по всій країні, останній рядок таблиці
pd_replaced.drop(27,0)

<ipython-input-24-e7ea31592df8>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  pd_replaced.drop(27,0)

               Регіон   1950   1960   1970  1990  2000  2012 2014 2019
0                Крим  230.0  206.0  160.0   130    73   126  NaN  NaN
1           Вінницька  224.0  192.0  142.0   124    84   112  109   76
2           Волинська  247.0  250.0  179.0   153   112   148  141  101
3    Дніпропетровська  204.0  204.0  151.0   123    71   112  111   71
4            Донецька  271.0  214.0  140.0   109    61    98   82  NaN
5         Житомирська  261.0  223.0  159.0   129    89   122  120   79
6        Закарпатська  314.0  273.0  207.0   168   115   151  146  104
7          Запорізька  219.0  197.0  150.0   124    71   106  106   68
8   Івано-Франківська  243.0  248.0  182.0   155   103   124  122   88
9            Київська  204.0  189.0  156.0   123    73   122  121   80
10     Кіровоградська  216.0  171.0  145.0   126    79   110  108   68
11          Луганська  262.0  235.0  144.0   116    62    96   51  NaN
12          Львівська  234.0  240.0  171.0   140    91   119  119   87
13       Миколаївська  211.0  194.0  155.0   137    80   115  112   71
14            Одеська  241.0  192.0  148.0   126    80   127  123   88
15         Полтавська  186.0  163.0  131.0   118    70    99  100   65
16         Рівненська  269.0  267.0  193.0   158   118   159  148  107
17            Сумська  216.0  184.0  132.0   115    70    97   92   60
18      Тернопільська  213.0  216.0  157.0   142    92   113  109   76
19         Харківська  197.0  173.0  140.0   114    68    99  101   68
20         Херсонська  208.0  214.0  166.0   143    85   117  115   81
21        Хмельницька  234.0  198.0  148.0   129    85   113  112   79
22          Черкаська  205.0  179.0  144.0   123    75   100   98   64
23        Чернівецька  247.0  218.0  170.0   148   101   128  129   92
24       Чернігівська  220.0  183.0  127.0   108    69    94   90   61
25               Київ    NaN  174.0  159.0   120    73   120  121  110
26        Севастополь    NaN    NaN    NaN   125    70   120  NaN  NaN

In [38]:
#Замініть відсутні дані в стовпцях середніми значеннями цих стовпців (метод fillna)
pd_replaced_mean = pd_replaced.mean()
#print(pd_replaced_mean)
pd_replaced.fillna(value = pd_replaced_mean)

<ipython-input-38-3c2272189e7a>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  pd_replaced_mean = pd_replaced.mean()

,Регіон,1950,1960,1970,1990,2000,2012,2014,2019
0,Крим,230.000000,206.000000,160.000000,130,73,126,NaN,NaN
1,Вінницька,224.000000,192.000000,142.000000,124,84,112,109,76
2,Волинська,247.000000,250.000000,179.000000,153,112,148,141,101
3,Дніпропетровська,204.000000,204.000000,151.000000,123,71,112,111,71
4,Донецька,271.000000,214.000000,140.000000,109,61,98,82,NaN
5,Житомирська,261.000000,223.000000,159.000000,129,89,122,120,79
6,Закарпатська,314.000000,273.000000,207.000000,168,115,151,146,104
7,Запорізька,219.000000,197.000000,150.000000,124,71,106,106,68
8,Івано-Франківська,243.000000,248.000000,182.000000,155,103,124,122,88
9,Київська,204.000000,189.000000,156.000000,123,73,122,121,80
10,Кіровоградська,216.000000,171.000000,145.000000,126,79,110,108,68
11,Луганська,262.000000,235.000000,144.000000,116,62,96,51,NaN
12,Львівська,234.000000,240.000000,171.000000,140,91,119,119,87
13,Миколаївська,211.000000,194.000000,155.000000,137,80,115,112,71
14,Одеська,241.000000,192.000000,148.000000,126,80,127,123,88
15,Полтавська,186.000000,163.000000,131.000000,118,70,99,100,65
16,Рівненська,269.000000,267.000000,193.000000,158,118,159,148,107
17,Сумська,216.000000,184.000000,132.000000,115,70,97,92,60
18,Тернопільська,213.000000,216.000000,157.000000,142,92,113,109,76
19,Харківська,197.000000,173.000000,140.000000,114,68,99,101,68
20,Херсонська,208.000000,214.000000,166.000000,143,85,117,115,81
21,Хмельницька,234.000000,198.000000,148.000000,129,85,113,112,79
22,Черкаська,205.000000,179.000000,144.000000,123,75,100,98,64
23,Чернівецька,247.000000,218.000000,170.000000,148,101,128,129,92
24,Чернігівська,220.000000,183.000000,127.000000,108,69,94,90,61
25,Київ,230.923077,174.000000,159.000000,120,73,120,121,110
26,Севастополь,230.923077,207.481481,155.851852,125,70,120,NaN,NaN
27,Україна,228.000000,205.000000,152.000000,126,78,114,111,81

In [37]:
#Отримайте список регіонів, де рівень народжуваності у 2019 році був вищим за середній по Україні
pd_replaced[pd_replaced['2019']>pd_replaced['2019'].mean()][['Регіон', '2019']]

TypeError: ignored

In [ ]:
#У якому регіоні була найвища народжуваність у 2014 році?

In [ ]:
#Побудуйте стовпчикову діаграму народжуваності по регіонах у 2019 році