<a href="https://colab.research.google.com/github/a33211/Data-science-homeworks/blob/main/Hw2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Частина друга: Аналіз файлів
Необхідно виконати:

- Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv
- Прочитайте отриману таблицю, використовуючи метод head
- Визначте розмір таблиці за допомогою методу shape
- Визначте типи всіх стовпців за допомогою dataframe.dtypes
- Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)
- Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"
- Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова.програмування"
- Видаліть усі рядки у вихідній таблиці за допомогою методу dropna
- Визначте новий розмір таблиці за допомогою методу shape
- Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python
- Визначте розмір таблиці python_data за допомогою методу shape
- Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"
- Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"
- Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"
- Створіть описову статистику за допомогою методу describe для нового стовпчика.
Збережіть отриману таблицю в CSV файл

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [9]:
#Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv
#Прочитайте отриману таблицю, використовуючи метод head
df = pd.read_csv('2017_jun_final.csv')
df.head

<bound method NDFrame.head of          N                 Должность Язык.программирования Специализация  \
0        1        Junior QA engineer                   NaN     Manual QA
1        2        Junior QA engineer                   NaN     Manual QA
2        3         Software Engineer               C#/.NET           NaN
3        4         Software Engineer            JavaScript           NaN
4        5  Senior Software Engineer            JavaScript           NaN
...    ...                       ...                   ...           ...
8699  8700               QA engineer                   NaN     Manual QA
8700  8701                 Marketing                   NaN           NaN
8701  8702  Junior Software Engineer            Ruby/Rails           NaN
8702  8703                 Team lead                   NaN           NaN
8703  8704  Senior Software Engineer                  Java           NaN

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                  0.5                          0.5               400
1     меньше 3 месяцев             меньше 3 месяцев               430
2                    4                            1              2500
3                    5                            4              2000
4       10 и более лет                          0.5              4500
...                ...                          ...               ...
8699                 1             меньше 3 месяцев               700
8700               0.5                          0.5               400
8701                 1                          0.5               800
8702                 6                            4              2600
8703                 7                            2              5000

      Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                    0  Харьков       до 10 человек  ...
1                                  130  Харьков  свыше 1000 человек  ...
2                                  800     Киев     до 1000 человек  ...
3                                  400   Одесса      до 200 человек  ...
4                                  500   Другой       до 10 человек  ...
...                                ...      ...                 ...  ...
8699                               700   Одесса       до 50 человек  ...
8700                               120     Киев       до 50 человек  ...
8701                               500    Львов       до 10 человек  ...
8702                                 0    Днепр  свыше 1000 человек  ...
8703                               800   Одесса     до 1000 человек  ...

     Еще.студент Уровень.английского                    Предметная.область  \
0           True       ниже среднего                         iOS,eCommerce
1           True       выше среднего                        Веб-разработка
2          False             средний  Веб-разработка,Корпоративные системы
3          False       ниже среднего   Desktop Applications,Веб-разработка
4          False             средний   Desktop Applications,Веб-разработка
...          ...                 ...                                   ...
8699       False             средний          Android,Desktop Applications
8700       False       ниже среднего                             eCommerce
8701       False       выше среднего  Веб-разработка,Корпоративные системы
8702       False         продвинутый                       Финансы и банки
8703       False       выше среднего                        Веб-разработка

          Дата.заполнения                                         User.Agent  \
0     12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1     12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2     12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3     12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4     12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...
...                   ...                                                ...
8699  12/07/2017 15:45:24  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8700  12/07/2017 17:00:06  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8701  12/07/2017 17:32:26  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8702  12/07/2017 18:14:59  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...
8703  12/07/2017 21:28:57  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...

       exp current_job_exp salary Валюта  cls
0      0.5             0.5    400    NaN   QA
1      0.0             0.0    430    NaN   QA
2      4.0             1.0   2500    NaN  DEV
3      5.0             4.0   2000    NaN  DEV
4     10.0             0.5   4500    NaN  DEV
...    ...             ...    ...    ...  ...
8699   1.0             0.0    700    NaN   QA
8700   0.5             0.5    400    NaN  NaN
8701   1.0             0.5    800    NaN  DEV
8702   6.0             4.0   2600    NaN   PM
8703   7.0             2.0   5000    NaN  DEV

[8704 rows x 25 columns]>

In [5]:
#Визначте розмір таблиці за допомогою методу shape
df.shape

(8704, 25)

In [ ]:
#Визначте типи всіх стовпців за допомогою dataframe.dtypes
df.dtypes

In [ ]:
#Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)
print(df.isnull().sum()* 100 / len(df))

In [21]:
#Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"
df_hollowed = df.dropna(axis = 1)
df_hollowed.shape

(8704, 19)