<a href="https://colab.research.google.com/github/a33211/Data-science-homeworks/blob/main/Hw2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Частина друга: Аналіз файлів
Необхідно виконати:

- Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv
- Прочитайте отриману таблицю, використовуючи метод head
- Визначте розмір таблиці за допомогою методу shape
- Визначте типи всіх стовпців за допомогою dataframe.dtypes
- Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)
- Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"
- Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова.програмування"
- Видаліть усі рядки у вихідній таблиці за допомогою методу dropna
- Визначте новий розмір таблиці за допомогою методу shape
- Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python
- Визначте розмір таблиці python_data за допомогою методу shape
- Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"
- Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"
- Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"
- Створіть описову статистику за допомогою методу describe для нового стовпчика.
Збережіть отриману таблицю в CSV файл

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
#Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv
#Прочитайте отриману таблицю, використовуючи метод head
df = pd.read_csv('2017_jun_final.csv')
df.head

In [5]:
#Визначте розмір таблиці за допомогою методу shape
df.shape

(8704, 25)

In [ ]:
#Визначте типи всіх стовпців за допомогою dataframe.dtypes
df.dtypes

In [ ]:
#Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)
print(df.isnull().sum()* 100 / len(df))

In [35]:
#Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"
df_hollowed = df.loc[:, df.columns != 'Мова програмування'].dropna(axis = 1)
df_hollowed.insert(2,'new Мова програмування',df['Язык.программирования'])
df_hollowed.shape

(8704, 20)

In [36]:
#Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова.програмування"
df_hollowed.isna()

,N,Должность,new Мова програмування,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,Тип.компании,Пол,Возраст,Образование,Еще.студент,Уровень.английского,Дата.заполнения,User.Agent,exp,current_job_exp,salary
0,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8699,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8700,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8701,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8702,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8703,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [40]:
#Видаліть усі рядки у вихідній таблиці за допомогою методу dropna
#Визначте новий розмір таблиці за допомогою методу shape
df_hollowed_by_row = df.dropna()
print(df.shape)
print(df_hollowed_by_row.shape)

(8704, 25)
(0, 25)

In [58]:
#Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python
#Визначте розмір таблиці python_data за допомогою методу shape
value = 'Python'
#df['Язык.программирования']
#python_data = df.query("Язык.программирования == Python")
python_data = df.loc[df['Язык.программирования'] == 'Python']
print(python_data['Язык.программирования'])
print('__________\n', python_data.shape)

12      Python
68      Python
87      Python
114     Python
143     Python
         ...
8546    Python
8625    Python
8635    Python
8673    Python
8695    Python
Name: Язык.программирования, Length: 207, dtype: object
__________
 (207, 25)

In [ ]:
#Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"