<a href="https://colab.research.google.com/github/a33211/Data-science-homeworks/blob/main/Hw2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Частина друга: Аналіз файлів
Необхідно виконати:

- Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv
- Прочитайте отриману таблицю, використовуючи метод head
- Визначте розмір таблиці за допомогою методу shape
- Визначте типи всіх стовпців за допомогою dataframe.dtypes
- Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)
- Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"
- Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова.програмування"
- Видаліть усі рядки у вихідній таблиці за допомогою методу dropna
- Визначте новий розмір таблиці за допомогою методу shape
- Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python
- Визначте розмір таблиці python_data за допомогою методу shape
- Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"
- Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"
- Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"
- Створіть описову статистику за допомогою методу describe для нового стовпчика.
Збережіть отриману таблицю в CSV файл

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [15]:
#Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv
#Прочитайте отриману таблицю, використовуючи метод head
df = pd.read_csv('2017_jun_final.csv')
df.head

<bound method NDFrame.head of          N                 Должность Язык.программирования Специализация  \
0        1        Junior QA engineer                   NaN     Manual QA
1        2        Junior QA engineer                   NaN     Manual QA
2        3         Software Engineer               C#/.NET           NaN
3        4         Software Engineer            JavaScript           NaN
4        5  Senior Software Engineer            JavaScript           NaN
...    ...                       ...                   ...           ...
8699  8700               QA engineer                   NaN     Manual QA
8700  8701                 Marketing                   NaN           NaN
8701  8702  Junior Software Engineer            Ruby/Rails           NaN
8702  8703                 Team lead                   NaN           NaN
8703  8704  Senior Software Engineer                  Java           NaN

     Общий.опыт.работы Опыт.работы.на.текущем.месте  Зарплата.в.месяц  \
0                  0.5                          0.5               400
1     меньше 3 месяцев             меньше 3 месяцев               430
2                    4                            1              2500
3                    5                            4              2000
4       10 и более лет                          0.5              4500
...                ...                          ...               ...
8699                 1             меньше 3 месяцев               700
8700               0.5                          0.5               400
8701                 1                          0.5               800
8702                 6                            4              2600
8703                 7                            2              5000

      Изменение.зарплаты.за.12.месяцев    Город     Размер.компании  ...  \
0                                    0  Харьков       до 10 человек  ...
1                                  130  Харьков  свыше 1000 человек  ...
2                                  800     Киев     до 1000 человек  ...
3                                  400   Одесса      до 200 человек  ...
4                                  500   Другой       до 10 человек  ...
...                                ...      ...                 ...  ...
8699                               700   Одесса       до 50 человек  ...
8700                               120     Киев       до 50 человек  ...
8701                               500    Львов       до 10 человек  ...
8702                                 0    Днепр  свыше 1000 человек  ...
8703                               800   Одесса     до 1000 человек  ...

     Еще.студент Уровень.английского                    Предметная.область  \
0           True       ниже среднего                         iOS,eCommerce
1           True       выше среднего                        Веб-разработка
2          False             средний  Веб-разработка,Корпоративные системы
3          False       ниже среднего   Desktop Applications,Веб-разработка
4          False             средний   Desktop Applications,Веб-разработка
...          ...                 ...                                   ...
8699       False             средний          Android,Desktop Applications
8700       False       ниже среднего                             eCommerce
8701       False       выше среднего  Веб-разработка,Корпоративные системы
8702       False         продвинутый                       Финансы и банки
8703       False       выше среднего                        Веб-разработка

          Дата.заполнения                                         User.Agent  \
0     12/06/2017 12:38:08  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
1     12/06/2017 12:42:51  Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...
2     12/06/2017 13:02:47  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
3     12/06/2017 13:03:01  Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...
4     12/06/2017 13:03:47  Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...
...                   ...                                                ...
8699  12/07/2017 15:45:24  Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:54....
8700  12/07/2017 17:00:06  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...
8701  12/07/2017 17:32:26  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
8702  12/07/2017 18:14:59  Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.3...
8703  12/07/2017 21:28:57  Mozilla/5.0 (iPad; CPU OS 10_3_2 like Mac OS X...

       exp current_job_exp salary Валюта  cls
0      0.5             0.5    400    NaN   QA
1      0.0             0.0    430    NaN   QA
2      4.0             1.0   2500    NaN  DEV
3      5.0             4.0   2000    NaN  DEV
4     10.0             0.5   4500    NaN  DEV
...    ...             ...    ...    ...  ...
8699   1.0             0.0    700    NaN   QA
8700   0.5             0.5    400    NaN  NaN
8701   1.0             0.5    800    NaN  DEV
8702   6.0             4.0   2600    NaN   PM
8703   7.0             2.0   5000    NaN  DEV

[8704 rows x 25 columns]>

In [16]:
#Визначте розмір таблиці за допомогою методу shape
df.shape

(8704, 25)

In [17]:
#Визначте типи всіх стовпців за допомогою dataframe.dtypes
df.dtypes

N                                     int64
Должность                            object
Язык.программирования                object
Специализация                        object
Общий.опыт.работы                    object
Опыт.работы.на.текущем.месте         object
Зарплата.в.месяц                      int64
Изменение.зарплаты.за.12.месяцев      int64
Город                                object
Размер.компании                      object
Тип.компании                         object
Пол                                  object
Возраст                               int64
Образование                          object
Университет                          object
Еще.студент                            bool
Уровень.английского                  object
Предметная.область                   object
Дата.заполнения                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [18]:
#Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)
print(df.isnull().sum()* 100 / len(df))

N                                    0.000000
Должность                            0.000000
Язык.программирования               44.232537
Специализация                       82.938879
Общий.опыт.работы                    0.000000
Опыт.работы.на.текущем.месте         0.000000
Зарплата.в.месяц                     0.000000
Изменение.зарплаты.за.12.месяцев     0.000000
Город                                0.000000
Размер.компании                      0.000000
Тип.компании                         0.000000
Пол                                  0.000000
Возраст                              0.000000
Образование                          0.000000
Университет                          4.113051
Еще.студент                          0.000000
Уровень.английского                  0.000000
Предметная.область                   2.562040
Дата.заполнения                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
Валюта                              99.885110
cls                                 18.083640
dtype: float64

In [19]:
#Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"
df_hollowed = df.loc[:, df.columns != 'Мова програмування'].dropna(axis = 1)
df_hollowed.insert(2,'new Мова програмування',df['Язык.программирования'])
df_hollowed.shape

(8704, 20)

In [20]:
#Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся, що залишився тільки стовпець "Мова.програмування"
df_hollowed.isna()

,N,Должность,new Мова програмування,Общий.опыт.работы,Опыт.работы.на.текущем.месте,Зарплата.в.месяц,Изменение.зарплаты.за.12.месяцев,Город,Размер.компании,Тип.компании,Пол,Возраст,Образование,Еще.студент,Уровень.английского,Дата.заполнения,User.Agent,exp,current_job_exp,salary
0,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8699,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8700,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8701,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8702,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8703,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [21]:
#Видаліть усі рядки у вихідній таблиці за допомогою методу dropna
#Визначте новий розмір таблиці за допомогою методу shape
df_hollowed_by_row = df.dropna()
print(df.shape)
print(df_hollowed_by_row.shape)

(8704, 25)
(0, 25)

In [22]:
#Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python
#Визначте розмір таблиці python_data за допомогою методу shape
value = 'Python'
#df['Язык.программирования']
#python_data = df.query("Язык.программирования == Python")
python_data = df.loc[df['Язык.программирования'] == 'Python']
print(python_data['Язык.программирования'])
print('__________\n', python_data.shape)

12      Python
68      Python
87      Python
114     Python
143     Python
         ...
8546    Python
8625    Python
8635    Python
8673    Python
8695    Python
Name: Язык.программирования, Length: 207, dtype: object
__________
 (207, 25)

In [23]:
#Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"
df_grouped = df.groupby('Должность') 
#print(df_grouped.nunique())
print(df_grouped.ngroups)
print(df_grouped.size())

32
Должность
Business analyst                               150
DBA                                             26
Data Scientist / Data Analyst                   79
Designer                                       223
DevOps                                         170
Director of Engineering / Program Director      44
ERP / CRM                                       12
Game designer                                   18
HR                                             247
HTML coder                                     156
Junior QA engineer                             404
Junior Software Engineer                      1280
Marketing                                      138
Product Manager                                 87
Project manager                                371
QA Tech Lead                                    79
QA engineer                                    738
Research Engineer                               14
Sales manager                                   85
Scrum Master                                    19
Security Specialist                             12
Senior Project Manager / Program Manager        66
Senior QA engineer                             263
Senior Software Engineer                      1080
Software Engineer                             2168
Support                                        115
Sysadmin                                       129
System Architect                                65
Talent Researcher                               36
Team lead                                      152
Technical Lead                                 250
Technical writer                                28
dtype: int64

In [24]:
#Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада", виконайте агрегацію даних за допомогою методу agg 
#і знайдіть мінімальне та максимальне значення у стовпчику "Зарплата.в.місяць"
df_grouped_2 = df.groupby(by=['Должность'],as_index=False).agg({'Зарплата.в.месяц':['count','mean','max','min']})
df_grouped_2

                                     Должность Зарплата.в.месяц               \
                                                          count         mean
0                             Business analyst              150  1551.500000
1                                          DBA               26  1653.269231
2                Data Scientist / Data Analyst               79  1544.240506
3                                     Designer              223  1134.161435
4                                       DevOps              170  2162.688235
5   Director of Engineering / Program Director               44  5066.363636
6                                    ERP / CRM               12  1370.833333
7                                Game designer               18  1455.277778
8                                           HR              247   850.283401
9                                   HTML coder              156   550.993590
10                          Junior QA engineer              404   482.774752
11                    Junior Software Engineer             1280   605.658594
12                                   Marketing              138   861.282609
13                             Product Manager               87  2054.471264
14                             Project manager              371  1512.846361
15                                QA Tech Lead               79  2684.430380
16                                 QA engineer              738  1176.704607
17                           Research Engineer               14  1099.000000
18                               Sales manager               85   635.847059
19                                Scrum Master               19  2355.684211
20                         Security Specialist               12  1783.250000
21    Senior Project Manager / Program Manager               66  3562.181818
22                          Senior QA engineer              263  2385.536122
23                    Senior Software Engineer             1080  3243.200926
24                           Software Engineer             2168  1678.630074
25                                     Support              115   817.339130
26                                    Sysadmin              129   773.542636
27                            System Architect               65  4387.076923
28                           Talent Researcher               36   550.555556
29                                   Team lead              152  2836.328947
30                              Technical Lead              250  3664.272000
31                            Technical writer               28  1127.892857


      max   min
0    5000   200
1    6000   380
2    8000   150
3    4000   100
4   10000   194
5   34000  1500
6    6000   100
7    6800   150
8    7000   100
9    3000   154
10   2000    96
11   2600    75
12   4000   100
13   5000   250
14   8000   190
15   6000   430
16   2900   150
17   4000   114
18   2300   120
19   4500   370
20   4000   300
21   9100   200
22   6000   400
23   9200   350
24   7000   100
25   3650   138
26   3000    90
27  10000   400
28   1700   100
29   7000   300
30  18000   500
31   3000   200

In [30]:
#Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць. Використовуйте її для методу apply та створіть новий стовпчик "avg"
def average_sal(df):
  df_grouped_3 = df.groupby(by=['Должность'],as_index=False).agg({'Зарплата.в.месяц':['mean']})
  print(df_grouped_3)
average_sal(df)
#df_final = df.apply(average_sal)

                                     Должность Зарплата.в.месяц
                                                           mean
0                             Business analyst      1551.500000
1                                          DBA      1653.269231
2                Data Scientist / Data Analyst      1544.240506
3                                     Designer      1134.161435
4                                       DevOps      2162.688235
5   Director of Engineering / Program Director      5066.363636
6                                    ERP / CRM      1370.833333
7                                Game designer      1455.277778
8                                           HR       850.283401
9                                   HTML coder       550.993590
10                          Junior QA engineer       482.774752
11                    Junior Software Engineer       605.658594
12                                   Marketing       861.282609
13                             Product Manager      2054.471264
14                             Project manager      1512.846361
15                                QA Tech Lead      2684.430380
16                                 QA engineer      1176.704607
17                           Research Engineer      1099.000000
18                               Sales manager       635.847059
19                                Scrum Master      2355.684211
20                         Security Specialist      1783.250000
21    Senior Project Manager / Program Manager      3562.181818
22                          Senior QA engineer      2385.536122
23                    Senior Software Engineer      3243.200926
24                           Software Engineer      1678.630074
25                                     Support       817.339130
26                                    Sysadmin       773.542636
27                            System Architect      4387.076923
28                           Talent Researcher       550.555556
29                                   Team lead      2836.328947
30                              Technical Lead      3664.272000
31                            Technical writer      1127.892857