<a href="https://colab.research.google.com/github/a33211/Data-science-homeworks/blob/main/Hw2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# from unicodedata import normalize

# **Необхідно виконати:**

- Вивести перші рядки таблиці за допомогою методу head
- Визначте кількість рядків та стовпців у датафреймі (атрибут shape)
- Замініть у таблиці значення "—" на значення NaN
- Визначте типи всіх стовпців за допомогою dataframe.dtypes
- Замініть типи нечислових колонок на числові. Підказка - це колонки, де знаходився символ "—"
- Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)
- Видаліть з таблиці дані по всій країні, останній рядок таблиці
- Замініть відсутні дані в стовпцях середніми значеннями цих стовпців (метод fillna)
- Отримайте список регіонів, де рівень народжуваності у 2019 році був вищим за середній по Україні
- У якому регіоні була найвища народжуваність у 2014 році?
- Побудуйте стовпчикову діаграму народжуваності по регіонах у 2019 році

In [144]:
init = pd.read_html("https://uk.wikipedia.org/wiki/%D0%9D%D0%B0%D1%81%D0%B5%D0%BB%D0%B5%D0%BD%D0%BD%D1%8F_%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B8#%D0%9D%D0%B0%D1%80%D0%BE%D0%B4%D0%B6%D1%83%D0%B2%D0%B0%D0%BD%D1%96%D1%81%D1%82%D1%8C", match = "Коефіцієнт народжуваності в регіонах України")
init_pd = init[0]
print('Type of init\n', type(init))
print('Type of init_pd\n', type(init_pd))

Type of init
 <class 'list'>
Type of init_pd
 <class 'pandas.core.frame.DataFrame'>

In [145]:
# Вивести перші рядки таблиці за допомогою методу head
init_pd.head(3)

      Регіон   1950   1960   1970  1990  2000  2012 2014 2019
0       Крим  230.0  206.0  160.0   130    73   126    —    —
1  Вінницька  224.0  192.0  142.0   124    84   112  109   76
2  Волинська  247.0  250.0  179.0   153   112   148  141  101

In [146]:
# Визначте кількість рядків та стовпців у датафреймі (атрибут shape)
init_pd.shape

(28, 9)

In [147]:
# Замініть у таблиці значення "—" на значення NaN
pd_replaced = init_pd.replace(to_replace = "—", value = np.nan)
print(pd_replaced)

               Регіон   1950   1960   1970  1990  2000  2012 2014 2019
0                Крим  230.0  206.0  160.0   130    73   126  NaN  NaN
1           Вінницька  224.0  192.0  142.0   124    84   112  109   76
2           Волинська  247.0  250.0  179.0   153   112   148  141  101
3    Дніпропетровська  204.0  204.0  151.0   123    71   112  111   71
4            Донецька  271.0  214.0  140.0   109    61    98   82  NaN
5         Житомирська  261.0  223.0  159.0   129    89   122  120   79
6        Закарпатська  314.0  273.0  207.0   168   115   151  146  104
7          Запорізька  219.0  197.0  150.0   124    71   106  106   68
8   Івано-Франківська  243.0  248.0  182.0   155   103   124  122   88
9            Київська  204.0  189.0  156.0   123    73   122  121   80
10     Кіровоградська  216.0  171.0  145.0   126    79   110  108   68
11          Луганська  262.0  235.0  144.0   116    62    96   51  NaN
12          Львівська  234.0  240.0  171.0   140    91   119  119   87
13       Миколаївська  211.0  194.0  155.0   137    80   115  112   71
14            Одеська  241.0  192.0  148.0   126    80   127  123   88
15         Полтавська  186.0  163.0  131.0   118    70    99  100   65
16         Рівненська  269.0  267.0  193.0   158   118   159  148  107
17            Сумська  216.0  184.0  132.0   115    70    97   92   60
18      Тернопільська  213.0  216.0  157.0   142    92   113  109   76
19         Харківська  197.0  173.0  140.0   114    68    99  101   68
20         Херсонська  208.0  214.0  166.0   143    85   117  115   81
21        Хмельницька  234.0  198.0  148.0   129    85   113  112   79
22          Черкаська  205.0  179.0  144.0   123    75   100   98   64
23        Чернівецька  247.0  218.0  170.0   148   101   128  129   92
24       Чернігівська  220.0  183.0  127.0   108    69    94   90   61
25               Київ    NaN  174.0  159.0   120    73   120  121  110
26        Севастополь    NaN    NaN    NaN   125    70   120  NaN  NaN
27            Україна  228.0  205.0  152.0   126    78   114  111   81

In [148]:
# Визначте типи всіх стовпців за допомогою dataframe.dtypes
pd_replaced.dtypes
print(pd_replaced.dtypes)

Регіон     object
1950      float64
1960      float64
1970      float64
1990        int64
2000        int64
2012        int64
2014       object
2019       object
dtype: object

In [149]:
#Замініть типи нечислових колонок на числові. Підказка - це колонки, де знаходився символ "—"
df1 = pd_replaced.iloc[:,1:8].fillna(0).astype(int)
print(df1.dtypes)
print(pd_replaced)

1950    int64
1960    int64
1970    int64
1990    int64
2000    int64
2012    int64
2014    int64
dtype: object
               Регіон   1950   1960   1970  1990  2000  2012 2014 2019
0                Крим  230.0  206.0  160.0   130    73   126  NaN  NaN
1           Вінницька  224.0  192.0  142.0   124    84   112  109   76
2           Волинська  247.0  250.0  179.0   153   112   148  141  101
3    Дніпропетровська  204.0  204.0  151.0   123    71   112  111   71
4            Донецька  271.0  214.0  140.0   109    61    98   82  NaN
5         Житомирська  261.0  223.0  159.0   129    89   122  120   79
6        Закарпатська  314.0  273.0  207.0   168   115   151  146  104
7          Запорізька  219.0  197.0  150.0   124    71   106  106   68
8   Івано-Франківська  243.0  248.0  182.0   155   103   124  122   88
9            Київська  204.0  189.0  156.0   123    73   122  121   80
10     Кіровоградська  216.0  171.0  145.0   126    79   110  108   68
11          Луганська  262.0  235.0  144.0   116    62    96   51  NaN
12          Львівська  234.0  240.0  171.0   140    91   119  119   87
13       Миколаївська  211.0  194.0  155.0   137    80   115  112   71
14            Одеська  241.0  192.0  148.0   126    80   127  123   88
15         Полтавська  186.0  163.0  131.0   118    70    99  100   65
16         Рівненська  269.0  267.0  193.0   158   118   159  148  107
17            Сумська  216.0  184.0  132.0   115    70    97   92   60
18      Тернопільська  213.0  216.0  157.0   142    92   113  109   76
19         Харківська  197.0  173.0  140.0   114    68    99  101   68
20         Херсонська  208.0  214.0  166.0   143    85   117  115   81
21        Хмельницька  234.0  198.0  148.0   129    85   113  112   79
22          Черкаська  205.0  179.0  144.0   123    75   100   98   64
23        Чернівецька  247.0  218.0  170.0   148   101   128  129   92
24       Чернігівська  220.0  183.0  127.0   108    69    94   90   61
25               Київ    NaN  174.0  159.0   120    73   120  121  110
26        Севастополь    NaN    NaN    NaN   125    70   120  NaN  NaN
27            Україна  228.0  205.0  152.0   126    78   114  111   81

In [ ]:
#Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)

In [150]:
#Видаліть з таблиці дані по всій країні, останній рядок таблиці
pd_replaced = pd_replaced.drop(27,0)
print(pd_replaced)

               Регіон   1950   1960   1970  1990  2000  2012 2014 2019
0                Крим  230.0  206.0  160.0   130    73   126  NaN  NaN
1           Вінницька  224.0  192.0  142.0   124    84   112  109   76
2           Волинська  247.0  250.0  179.0   153   112   148  141  101
3    Дніпропетровська  204.0  204.0  151.0   123    71   112  111   71
4            Донецька  271.0  214.0  140.0   109    61    98   82  NaN
5         Житомирська  261.0  223.0  159.0   129    89   122  120   79
6        Закарпатська  314.0  273.0  207.0   168   115   151  146  104
7          Запорізька  219.0  197.0  150.0   124    71   106  106   68
8   Івано-Франківська  243.0  248.0  182.0   155   103   124  122   88
9            Київська  204.0  189.0  156.0   123    73   122  121   80
10     Кіровоградська  216.0  171.0  145.0   126    79   110  108   68
11          Луганська  262.0  235.0  144.0   116    62    96   51  NaN
12          Львівська  234.0  240.0  171.0   140    91   119  119   87
13       Миколаївська  211.0  194.0  155.0   137    80   115  112   71
14            Одеська  241.0  192.0  148.0   126    80   127  123   88
15         Полтавська  186.0  163.0  131.0   118    70    99  100   65
16         Рівненська  269.0  267.0  193.0   158   118   159  148  107
17            Сумська  216.0  184.0  132.0   115    70    97   92   60
18      Тернопільська  213.0  216.0  157.0   142    92   113  109   76
19         Харківська  197.0  173.0  140.0   114    68    99  101   68
20         Херсонська  208.0  214.0  166.0   143    85   117  115   81
21        Хмельницька  234.0  198.0  148.0   129    85   113  112   79
22          Черкаська  205.0  179.0  144.0   123    75   100   98   64
23        Чернівецька  247.0  218.0  170.0   148   101   128  129   92
24       Чернігівська  220.0  183.0  127.0   108    69    94   90   61
25               Київ    NaN  174.0  159.0   120    73   120  121  110
26        Севастополь    NaN    NaN    NaN   125    70   120  NaN  NaN

<ipython-input-150-72eaff30df46>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  pd_replaced = pd_replaced.drop(27,0)

In [141]:
#Замініть відсутні дані в стовпцях середніми значеннями цих стовпців (метод fillna)
# pd_replaced_2 = pd_replaced.iloc[:,1:8].fillna(pd_replaced.iloc[:,1:8].mean())

      1950        1960   1970  1990  2000  2012 2014
0   230.00  206.000000  160.0   130    73   126  NaN
1   224.00  192.000000  142.0   124    84   112  109
2   247.00  250.000000  179.0   153   112   148  141
3   204.00  204.000000  151.0   123    71   112  111
4   271.00  214.000000  140.0   109    61    98   82
5   261.00  223.000000  159.0   129    89   122  120
6   314.00  273.000000  207.0   168   115   151  146
7   219.00  197.000000  150.0   124    71   106  106
8   243.00  248.000000  182.0   155   103   124  122
9   204.00  189.000000  156.0   123    73   122  121
10  216.00  171.000000  145.0   126    79   110  108
11  262.00  235.000000  144.0   116    62    96   51
12  234.00  240.000000  171.0   140    91   119  119
13  211.00  194.000000  155.0   137    80   115  112
14  241.00  192.000000  148.0   126    80   127  123
15  186.00  163.000000  131.0   118    70    99  100
16  269.00  267.000000  193.0   158   118   159  148
17  216.00  184.000000  132.0   115    70    97   92
18  213.00  216.000000  157.0   142    92   113  109
19  197.00  173.000000  140.0   114    68    99  101
20  208.00  214.000000  166.0   143    85   117  115
21  234.00  198.000000  148.0   129    85   113  112
22  205.00  179.000000  144.0   123    75   100   98
23  247.00  218.000000  170.0   148   101   128  129
24  220.00  183.000000  127.0   108    69    94   90
25  231.04  174.000000  159.0   120    73   120  121
26  231.04  207.576923  156.0   125    70   120  NaN

<ipython-input-141-e57a10f88794>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  pd_replaced_2 = pd_replaced.iloc[:,1:8].fillna(pd_replaced.iloc[:,1:8].mean())

In [151]:
#Отримайте список регіонів, де рівень народжуваності у 2019 році був вищим за середній по Україні
pd_replaced[pd_replaced['2019']>pd_replaced['2019'].mean()][['Регіон', '2019']]

TypeError: ignored

In [94]:
#У якому регіоні була найвища народжуваність у 2014 році?
#pd_replaced.loc[pd_replaced['2014'].idxmax()]
pd_replaced[pd_replaced['2014']==pd_replaced['2014'].max()]

TypeError: ignored

In [ ]:
#Побудуйте стовпчикову діаграму народжуваності по регіонах у 2019 році